<div ng-init="getInf()" ng-show="ready" class="span12">
	<h1>Задание: {{task.name}}</h1>	
	 <div class="animate-switch-container"
    	ng-switch on="task.status_suppz">
	      <div class="animate-switch" ng-switch-when="run"><h3>Статус: На выполнении</h3></div>
	      <div class="animate-switch" ng-switch-when="queue"><h3>Статус: В очереди</h3></div>
	      <div class="animate-switch" ng-switch-when="block"><h3>Статус: Заблокировано</h3></div>
	      <div class="animate-switch" ng-switch-when="finished"><h3>Статус: Завершено</h3></div>
	      <div class="animate-switch" ng-switch-default></div>	     
  	</div>
  	<h3 ng-show="queuePeriod">Время до запуска: {{queuePeriod}} мин ({{startTime}})</h3>
  	<!-- <h3 ng-show="startTime"></h3> -->
  	<h3 ng-show="timeToFinish && task.status_suppz == 'run'">Осталось заказанного времени: {{timeToFinish}} мин ({{finishTime}})</h3>
  	<h3 ng-show="blockFlag">Флаг блокировки: {{blockFlag}}</h3>
  	<h3 ng-show="timeToStartBlock">Время до запуска: {{timeToStartBlock}} мин ({{startTimeBlock}})</h3>
  	<h3 ng-show="task.status_suppz != 'finished'">Текущее время выполнения: {{remainedTime | secondsToTimeString}}</h3>
  	<h3 ng-show="task.status_suppz != 'finished'">Оставшееся время выполнения(прогнозируемое): {{(remainedTime * (taskk.remainedSum - task.compiledSum) / task.compiledSum) | secondsToTimeString}}</h3>

  	<div ng-hide="!taskk.remainedSum" class="col-sm-4">
  		<progressbar class="progress-striped" value="task.compiledSum" max="taskk.remainedSum" type="warning">{{((task.compiledSum/taskk.remainedSum)*100).toFixed(0) + '%'}}</progressbar>
  	</div>
  	<div class="container">
  		<div class="row"></div>
  		<hr style="margin: 10px;">
	  	<h4 class="col-md-3">Центральный сервер</h4>	
	  	<div class="container">	  		
			<div class="col-md-1 col-sm-2 col-md-offset-2 text-center alert alert-success fade in" title="Центральный сервер">
				{{head.name}}<br>{{head.part}}
			</div>
		</div>
		<hr style="margin: 10px;">
		<h4 class="col-md-3">Сервер кластера</h4>
	  	<div class="container">			
			<div class="col-md-1 col-sm-2 col-md-offset-2 text-center alert alert-success fade in" title="Сервер кластера">
				{{cluster.name}}<br>{{cluster.part}}
			</div>
	  	</div>
	  	<hr style="margin: 10px;">
		<h4 class="col-md-3">Вычислительные модули</h4>
	  	<div ng-repeat="nd in node" class="container">	  		
	  		<div class="animate-switch-container"
    			ng-switch on="nd.stat">
    			<div class="animate-switch" ng-switch-when="READY">
	  				<div class="col-md-1 col-sm-2 col-md-offset-2  text-center alert alert-info fade in" title="Готов к приему вычислительной работы">{{nd.name}}<br>{{nd.part}}</div>
	  			</div>
	  			<div class="animate-switch" ng-switch-when="BUSY">
	  				<div class="col-md-1 col-sm-2 col-md-offset-2 text-center alert fade in" title="Выполняет вычислительную работу">{{nd.name}}<br>{{nd.part}}</div>
	  			</div>
	  			<div class="animate-switch" ng-switch-when="EXCLUDED">
	  				<div class="col-md-1 col-sm-2 col-md-offset-2 text-center alert alert-standard fade in" title="Выключен из выполнения вычислительной работы">{{nd.name}}<br>{{nd.part}}</div>
	  			</div>
	  			<div class="animate-switch" ng-switch-when="ERROR">
	  				<div class="col-md-1 col-sm-2 col-md-offset-2 text-center alert alert-error fade in" title="Не отвечает или не исправен">{{nd.name}}<br>{{nd.part}}</div>
	  			</div>
	  		</div>
	  	</div>
  	</div>
	<div ng-show="task.status_suppz == 'run'" class="span14" >
     	<div  class="accordion-group">
			<div class="accordion-heading accordionize">
		        <a  class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea">
		           Состояние
		        </a>
		    </div>	
		    <div class="accordion-body collapse">
	            <div class="accordion-inner text">
	            	<p>Выполнено: {{task.compite_work}}</p>
	            	<p>Обрабатывается: {{task.in_work}}</p>
	            	<p>Осталось: {{task.remained_work}}</p>
	            </div>
	        </div>
    	</div>
	</div>		
	<div  class="span14" >
     	<div  class="accordion-group">
			<div class="accordion-heading accordionize">
		        <a  class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea">
		           Результаты
		        </a>
		    </div>	
		    <div class="accordion-body collapse">
	            <div class="accordion-inner text">
	            	<p ng-repeat="result in task.results track by $index">
	            		{{result}}
	            	</p>
	            </div>
	        </div>
    	</div>
	</div>	
	<div class="row">
        	<div class="span12">
            	<hr>
            </div>
        </div>
	<button ng-show="task.status_suppz == 'run'" class="button" ng-click="stopTask('kill')">Остановить задание</button>
	<button ng-show="task.status_suppz == 'queue' || task.status_suppz == 'block'" class="button" ng-click="stopTask('queue')">Удалить задание из очереди</button>
	<button ng-show="task.status_suppz == 'finished'" class="button" ng-click="restartTask()">Перезапустить задание</button>
	<button ng-show="task.status_suppz == 'finished'" class="button" ng-click="removeTask()">Удалить задание</button>
</div>